body {
  font-family: system-ui, sans-serif;
  background: linear-gradient(to top, #d3d3d3, #f0f0f0);
}

.container {
  display: flex;
  padding-top: 20%;
  padding-left: 32%;
}


.age-number{
  font-size: 2em;
  font-weight: bold;
  color: #333;
}

.footer {
  display: flex;
  justify-content: right;
  padding-top: 25%;
  padding-right: 2%;
}
.github-link{   
    background: -webkit-linear-gradient(#747373, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
 }

 .github-link:hover {
  background: -webkit-linear-gradient(#000, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}