body {
  font-family: system-ui, sans-serif;
  background: linear-gradient(to top, #d3d3d3, #f0f0f0);
}

.container {
  display: flex;
  flex:1;
  padding-top: 20%;
  padding-left: 32%;
}

.age-title {
  color: #333;
}

.age-number{
  font-size: 2em;
  font-weight: bold;
  color: #333;
}

.footer {
  display: flex;
  flex: 1;
  height: 40vh;
  justify-content: flex-end; 
  align-items: flex-end;
  padding: 10px;
}
.github-link{   
    background: -webkit-linear-gradient(#747373, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
 }

 .github-link:hover {
  background: -webkit-linear-gradient(#000, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 768px) {
  .footer {
    justify-content: center; /* Center horizontally on mobile */
    align-items: center; /* Center vertically on mobile */
  }
  .container {
    display: flex;
    padding-top: 20%;
    padding-left: 6.9%;
  }
  .age-number{
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
  }
}